*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
overflow-y: scroll; /* Show scrollbars */
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid purple; */
}

header {
border-bottom: 1px dashed #ccc;
width: 90%;
display: flex;
flex-direction: column;
align-items: center;
}

.logo {
margin-top: 15px;
}

.logo img {
  width: 600px;
  height: auto;
  border: 1px solid black;
  box-shadow: 0px 0px 15px 5px #8EFB64;
  border-radius: 25px;
}

.buttons{
  display: flex;
  width: 600px;
  margin: 25px 0;
  justify-content: space-evenly;
  /* border: 1px solid red; */
  /* background-color: black; */
}

.btn{
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px 5px #8EFB64;
  padding: 10px 15px;
  cursor: pointer;
}

.btn:hover {
background-color: #22A2BD;
}

.description {
/* border: 1px solid red; */
margin: 25px;
width: 60vw;
}

.description p {
margin-bottom: 15px;
line-height: 22px;
letter-spacing: 1px;
text-align: center;
}

.char-container{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.infinite-scroll {
/* border: 1px solid red; */
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 25px;
}

.loc-container{
  /* border: 1px solid purple; */
  /* text-align: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 25px;
}

.loc-container a {
text-decoration: none;
color: black;
}

.loc-card {
  padding: 15px;
  border-radius: 15px;
  margin: 25px;
  display: flex;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
  gap: 15px;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  
  width: 250px; 
  height: 150px;

  cursor: pointer;
}

.loc-info{
  width: 80%;
}

.loc-details{
  /* border: 1px solid green; */
  /* width: 60vw; */
  margin: 50px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
}

.loc-innerbox{
  /* border: 1px solid brown; */
}

.loc-innerbox h2{
  /* border: 1px solid fuchsia; */
  text-align: center;
  margin-bottom: 25px;
}

.loc-inbox-container{
  /* border: 1px solid olive; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loc-info {
width: 80%;
}

.loc-details-info {
/* border: 1px solid red; */
padding: 15px;
border-radius: 15px;
margin: 25px;
box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
width: 400px; 
}

.loc-info p {
margin: 5px;
letter-spacing: 1px;
}

.char-card{
padding: 15px;
border-radius: 15px;
margin: 25px;
display: flex;
box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
gap: 15px;

width: 500px; 
height: 200px;

cursor: pointer;
}

.char-card img{
  height: 100%;
  width: auto;
  border-radius: 15px;
}
.char-details{
  border: 1px dashed grey;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px;
}

.paginationBtns {
/* border: 1px solid red; */
margin-bottom: 25px;
display: flex;
justify-content: space-between;
align-items: baseline;
list-style-type: none;
}

.btn-pagi {
/* border: 1px solid red; */
margin: 10px;
/* display: flex;
justify-content: center;
align-items: center; */
}

.btn-pagi-active a {
background-color: #8EFB64;
transform: scale(1.2);
}

.btn-pagi a {
border: 1px solid black;
border-radius: 10px;
box-shadow: 0px 0px 15px 4px #8EFB64;

display: flex;
justify-content: center;
align-items: center;
height: 30px;
width: 30px;

cursor: pointer;
}

.btn-pagi a:hover {
color: black;
background-color: #22A2BD;
}

.btn-pagi-prev-next {
/* border: 1px solid red; */
font-size: 20px;
height: 30px;
width: 30px;

display: flex;
justify-content: center;
align-items: center;

cursor: pointer;
}

/* ----- SCROLL BAR ----- */
/* width */
::-webkit-scrollbar {
width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background: #eee; 
}

/* Handle */
::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #aaa; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #888; 
}
