*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid purple;
}

.logo img{
    width: 60vw;
    height: auto;
    border: 1px solid green;
}

.buttons{
    display: flex;
    width: 60vw;
    margin-top: 50px;
    justify-content: space-evenly;
    border: 1px solid red;
    /* background-color: black; */
}

.btn{
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0px 0px 15px 10px #8EFB64;
    background-color: #22A2BD;
    padding: 10px 15px;
    cursor: pointer;
}

.char-container{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    
}

.char-card{
    padding: 15px;
    border-radius: 15px;
    margin: 25px;
    display: flex;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.25);
    gap: 15px;
    
    width: 500px; 
    height: 200px;

    cursor: pointer;
}

.char-card img{
    height: 100%;
    width: auto;
    border-radius: 15px;
}
.char-details{
    border: 1px dashed grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
}

.char-card p{

}